<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangyueche.mapper.DriverReputationStatMapper">

    <select id="listStat" resultType="com.wangyueche.bean.vo.statistics.DriverReputationStat">
        SELECT a.companyId AS companyId,a.violationTimes AS violationTimes,a.complaintTimes AS passengerComplaintTimes,a.orderAmount AS orderAmount,b.punishTimes AS punishTimes
        FROM
        (SELECT company_id AS companyId,sum(traffic_violation_count) AS violationTimes,sum(complained_count) AS complaintTimes,sum(order_count) AS orderAmount
        FROM driver_stat_info
        <where>
            <if test="companyId!=null and companyId!=''">
                company_id=#{companyId}
            </if>
            <if test="startDate!=null and endDate!=null">
                AND cycle*100000000 BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
        GROUP BY company_id) a
        JOIN (
        SELECT company_id AS companyId,count(*) AS punishTimes
        FROM driver_punish
        <where>
            <if test="companyId!=null and companyId!=''">
                company_id=#{companyId}
            </if>
            <if test="startDate!=null and endDate!=null">
                AND punish_time BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
        GROUP BY company_id) b
        ON a.companyId=b.companyId
    </select>
</mapper>