<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangyueche.mapper.PassengerInfoMapper" >
  <resultMap id="BaseResultMap" type="com.wangyueche.bean.entity.PassengerInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="register_date" property="registerDate" jdbcType="INTEGER" />
    <result column="passenger_phone" property="passengerPhone" jdbcType="VARCHAR" />
    <result column="passenger_name" property="passengerName" jdbcType="VARCHAR" />
    <result column="passenger_gender" property="passengerGender" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
  </resultMap>

  <sql id="params">
    <if test="param.companyId != null">AND company_id = #{param.companyId}</if>
    <if test="param.passengerName != null">AND passenger_name = #{param.passengerName}</if>
    <if test="param.passengerPhone != null">AND passenger_phone = #{param.passengerPhone}</if>
  </sql>

  <sql id="Base_Column_List" >
    id, company_id, register_date, passenger_phone, passenger_name, passenger_gender, 
    state, flag, update_time
  </sql>
  
  <select id="select" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from passenger_info
    <where>
      <include refid="params" />
    </where>
    ORDER BY
    ${pager.sort} ${pager.order}
    LIMIT
    #{pager.offset}, #{pager.limit}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from passenger_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from passenger_info
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="delete" >
    delete from passenger_info
    <where>
      <include refid="params" />
    </where>
  </delete>
  <select id="count" resultType="java.lang.Integer" >
    select count(*) from passenger_info
    <where>
      <include refid="params" />
    </where>
  </select>
</mapper>