<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangyueche.mapper.ShareOperateStatMapper">
    <select id="listStat" resultType="com.wangyueche.bean.vo.share.ShareOperateStat">
        SELECT a.company_id AS companyId,count(a.vehicle_no) AS vehicleNum,sum(a.orderNum) AS orderNum,sum(a.money) AS money
        FROM (
        SELECT vehicle_no,company_id,count(1) AS orderNum,sum(face_price) AS money
        FROM share_pay
        <where>
            <if test="companyId!=null and companyId!=''">
                company_id=#{companyId}
            </if>
            <if test="startDate!=null and endDate!=null">
                AND order_match_time BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
        GROUP BY vehicle_no,company_id) a
        GROUP BY a.company_id
    </select>
</mapper>