<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangyueche.mybatis.DriveTimeDistributionMapper">
    <select id="listStat" resultType="com.wangyueche.bean.vo.statistics.DriveTimeDistribution">
        SELECT COUNT(*) AS vehicleAmount
        <if test="startDate ==null and endDate==null">
            FROM operate_depart_arrive
        </if>
        <if test="startDate!=null and endDate!=null">
            FROM (SELECT * FROM operate_depart_arrive where dep_time BETWEEN #{startDate} AND #{endDate}) as sc
        </if>
        WHERE dep_time%1000000 BETWEEN #{timeRange}*10000 AND (#{timeRange}+1)*10000
        <if test="companyId!=null and companyId!=''">
            AND company_id=#{companyId}
        </if>
    </select>
</mapper>