<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangyueche.mybatis.SharePayMapper" >
  <resultMap id="BaseResultMap" type="com.wangyueche.bean.entity.SharePay" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="INTEGER" />
    <result column="route_id" property="routeId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="driver_phone" property="driverPhone" jdbcType="VARCHAR" />
    <result column="license_id" property="licenseId" jdbcType="VARCHAR" />
    <result column="vehicle_no" property="vehicleNo" jdbcType="VARCHAR" />
    <result column="fare_type" property="fareType" jdbcType="VARCHAR" />
    <result column="book_depart_time" property="bookDepartTime" jdbcType="BIGINT" />
    <result column="depart_time" property="departTime" jdbcType="BIGINT" />
    <result column="departure" property="departure" jdbcType="VARCHAR" />
    <result column="dep_longitude" property="depLongitude" jdbcType="DOUBLE" />
    <result column="dep_latitude" property="depLatitude" jdbcType="DOUBLE" />
    <result column="dest_time" property="destTime" jdbcType="BIGINT" />
    <result column="destination" property="destination" jdbcType="VARCHAR" />
    <result column="dest_longitude" property="destLongitude" jdbcType="DOUBLE" />
    <result column="dest_latitude" property="destLatitude" jdbcType="DOUBLE" />
    <result column="encrypt" property="encrypt" jdbcType="INTEGER" />
    <result column="drive_mile" property="driveMile" jdbcType="DECIMAL" />
    <result column="drive_time" property="driveTime" jdbcType="BIGINT" />
    <result column="face_price" property="facePrice" jdbcType="DECIMAL" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="cash_price" property="cashPrice" jdbcType="DECIMAL" />
    <result column="line_name" property="lineName" jdbcType="VARCHAR" />
    <result column="line_price" property="linePrice" jdbcType="DECIMAL" />
    <result column="benfit_price" property="benfitPrice" jdbcType="DECIMAL" />
    <result column="share_fue_fee" property="shareFueFee" jdbcType="DECIMAL" />
    <result column="share_highway_toll" property="shareHighwayToll" jdbcType="DECIMAL" />
    <result column="passenger_tip" property="passengerTip" jdbcType="DECIMAL" />
    <result column="share_other" property="shareOther" jdbcType="DECIMAL" />
    <result column="pay_state" property="payState" jdbcType="VARCHAR" />
    <result column="passenger_num" property="passengerNum" jdbcType="INTEGER" />
    <result column="pay_time" property="payTime" jdbcType="BIGINT" />
    <result column="order_match_time" property="orderMatchTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, company_id, address, route_id, order_id, driver_phone, license_id, vehicle_no, 
    fare_type, book_depart_time, depart_time, departure, dep_longitude, dep_latitude, 
    dest_time, destination, dest_longitude, dest_latitude, encrypt, drive_mile, drive_time, 
    face_price, price, cash_price, line_name, line_price, benfit_price, share_fue_fee, 
    share_highway_toll, passenger_tip, share_other, pay_state, passenger_num, pay_time, 
    order_match_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wangyueche.bean.entity.SharePayExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from share_pay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from share_pay
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from share_pay
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wangyueche.bean.entity.SharePayExample" >
    delete from share_pay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wangyueche.bean.entity.SharePay" >
    insert into share_pay (id, company_id, address, 
      route_id, order_id, driver_phone, 
      license_id, vehicle_no, fare_type, 
      book_depart_time, depart_time, departure, 
      dep_longitude, dep_latitude, dest_time, 
      destination, dest_longitude, dest_latitude, 
      encrypt, drive_mile, drive_time, 
      face_price, price, cash_price, 
      line_name, line_price, benfit_price, 
      share_fue_fee, share_highway_toll, passenger_tip, 
      share_other, pay_state, passenger_num, 
      pay_time, order_match_time)
    values (#{id,jdbcType=INTEGER}, #{companyId,jdbcType=VARCHAR}, #{address,jdbcType=INTEGER}, 
      #{routeId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{driverPhone,jdbcType=VARCHAR}, 
      #{licenseId,jdbcType=VARCHAR}, #{vehicleNo,jdbcType=VARCHAR}, #{fareType,jdbcType=VARCHAR}, 
      #{bookDepartTime,jdbcType=BIGINT}, #{departTime,jdbcType=BIGINT}, #{departure,jdbcType=VARCHAR}, 
      #{depLongitude,jdbcType=DOUBLE}, #{depLatitude,jdbcType=DOUBLE}, #{destTime,jdbcType=BIGINT}, 
      #{destination,jdbcType=VARCHAR}, #{destLongitude,jdbcType=DOUBLE}, #{destLatitude,jdbcType=DOUBLE}, 
      #{encrypt,jdbcType=INTEGER}, #{driveMile,jdbcType=DECIMAL}, #{driveTime,jdbcType=BIGINT}, 
      #{facePrice,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, #{cashPrice,jdbcType=DECIMAL}, 
      #{lineName,jdbcType=VARCHAR}, #{linePrice,jdbcType=DECIMAL}, #{benfitPrice,jdbcType=DECIMAL}, 
      #{shareFueFee,jdbcType=DECIMAL}, #{shareHighwayToll,jdbcType=DECIMAL}, #{passengerTip,jdbcType=DECIMAL}, 
      #{shareOther,jdbcType=DECIMAL}, #{payState,jdbcType=VARCHAR}, #{passengerNum,jdbcType=INTEGER}, 
      #{payTime,jdbcType=BIGINT}, #{orderMatchTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.wangyueche.bean.entity.SharePay" >
    insert into share_pay
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="routeId != null" >
        route_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="driverPhone != null" >
        driver_phone,
      </if>
      <if test="licenseId != null" >
        license_id,
      </if>
      <if test="vehicleNo != null" >
        vehicle_no,
      </if>
      <if test="fareType != null" >
        fare_type,
      </if>
      <if test="bookDepartTime != null" >
        book_depart_time,
      </if>
      <if test="departTime != null" >
        depart_time,
      </if>
      <if test="departure != null" >
        departure,
      </if>
      <if test="depLongitude != null" >
        dep_longitude,
      </if>
      <if test="depLatitude != null" >
        dep_latitude,
      </if>
      <if test="destTime != null" >
        dest_time,
      </if>
      <if test="destination != null" >
        destination,
      </if>
      <if test="destLongitude != null" >
        dest_longitude,
      </if>
      <if test="destLatitude != null" >
        dest_latitude,
      </if>
      <if test="encrypt != null" >
        encrypt,
      </if>
      <if test="driveMile != null" >
        drive_mile,
      </if>
      <if test="driveTime != null" >
        drive_time,
      </if>
      <if test="facePrice != null" >
        face_price,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="cashPrice != null" >
        cash_price,
      </if>
      <if test="lineName != null" >
        line_name,
      </if>
      <if test="linePrice != null" >
        line_price,
      </if>
      <if test="benfitPrice != null" >
        benfit_price,
      </if>
      <if test="shareFueFee != null" >
        share_fue_fee,
      </if>
      <if test="shareHighwayToll != null" >
        share_highway_toll,
      </if>
      <if test="passengerTip != null" >
        passenger_tip,
      </if>
      <if test="shareOther != null" >
        share_other,
      </if>
      <if test="payState != null" >
        pay_state,
      </if>
      <if test="passengerNum != null" >
        passenger_num,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="orderMatchTime != null" >
        order_match_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=INTEGER},
      </if>
      <if test="routeId != null" >
        #{routeId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="driverPhone != null" >
        #{driverPhone,jdbcType=VARCHAR},
      </if>
      <if test="licenseId != null" >
        #{licenseId,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNo != null" >
        #{vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="fareType != null" >
        #{fareType,jdbcType=VARCHAR},
      </if>
      <if test="bookDepartTime != null" >
        #{bookDepartTime,jdbcType=BIGINT},
      </if>
      <if test="departTime != null" >
        #{departTime,jdbcType=BIGINT},
      </if>
      <if test="departure != null" >
        #{departure,jdbcType=VARCHAR},
      </if>
      <if test="depLongitude != null" >
        #{depLongitude,jdbcType=DOUBLE},
      </if>
      <if test="depLatitude != null" >
        #{depLatitude,jdbcType=DOUBLE},
      </if>
      <if test="destTime != null" >
        #{destTime,jdbcType=BIGINT},
      </if>
      <if test="destination != null" >
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="destLongitude != null" >
        #{destLongitude,jdbcType=DOUBLE},
      </if>
      <if test="destLatitude != null" >
        #{destLatitude,jdbcType=DOUBLE},
      </if>
      <if test="encrypt != null" >
        #{encrypt,jdbcType=INTEGER},
      </if>
      <if test="driveMile != null" >
        #{driveMile,jdbcType=DECIMAL},
      </if>
      <if test="driveTime != null" >
        #{driveTime,jdbcType=BIGINT},
      </if>
      <if test="facePrice != null" >
        #{facePrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="cashPrice != null" >
        #{cashPrice,jdbcType=DECIMAL},
      </if>
      <if test="lineName != null" >
        #{lineName,jdbcType=VARCHAR},
      </if>
      <if test="linePrice != null" >
        #{linePrice,jdbcType=DECIMAL},
      </if>
      <if test="benfitPrice != null" >
        #{benfitPrice,jdbcType=DECIMAL},
      </if>
      <if test="shareFueFee != null" >
        #{shareFueFee,jdbcType=DECIMAL},
      </if>
      <if test="shareHighwayToll != null" >
        #{shareHighwayToll,jdbcType=DECIMAL},
      </if>
      <if test="passengerTip != null" >
        #{passengerTip,jdbcType=DECIMAL},
      </if>
      <if test="shareOther != null" >
        #{shareOther,jdbcType=DECIMAL},
      </if>
      <if test="payState != null" >
        #{payState,jdbcType=VARCHAR},
      </if>
      <if test="passengerNum != null" >
        #{passengerNum,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=BIGINT},
      </if>
      <if test="orderMatchTime != null" >
        #{orderMatchTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wangyueche.bean.entity.SharePayExample" resultType="java.lang.Integer" >
    select count(*) from share_pay
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update share_pay
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.companyId != null" >
        company_id = #{record.companyId,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=INTEGER},
      </if>
      <if test="record.routeId != null" >
        route_id = #{record.routeId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.driverPhone != null" >
        driver_phone = #{record.driverPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.licenseId != null" >
        license_id = #{record.licenseId,jdbcType=VARCHAR},
      </if>
      <if test="record.vehicleNo != null" >
        vehicle_no = #{record.vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="record.fareType != null" >
        fare_type = #{record.fareType,jdbcType=VARCHAR},
      </if>
      <if test="record.bookDepartTime != null" >
        book_depart_time = #{record.bookDepartTime,jdbcType=BIGINT},
      </if>
      <if test="record.departTime != null" >
        depart_time = #{record.departTime,jdbcType=BIGINT},
      </if>
      <if test="record.departure != null" >
        departure = #{record.departure,jdbcType=VARCHAR},
      </if>
      <if test="record.depLongitude != null" >
        dep_longitude = #{record.depLongitude,jdbcType=DOUBLE},
      </if>
      <if test="record.depLatitude != null" >
        dep_latitude = #{record.depLatitude,jdbcType=DOUBLE},
      </if>
      <if test="record.destTime != null" >
        dest_time = #{record.destTime,jdbcType=BIGINT},
      </if>
      <if test="record.destination != null" >
        destination = #{record.destination,jdbcType=VARCHAR},
      </if>
      <if test="record.destLongitude != null" >
        dest_longitude = #{record.destLongitude,jdbcType=DOUBLE},
      </if>
      <if test="record.destLatitude != null" >
        dest_latitude = #{record.destLatitude,jdbcType=DOUBLE},
      </if>
      <if test="record.encrypt != null" >
        encrypt = #{record.encrypt,jdbcType=INTEGER},
      </if>
      <if test="record.driveMile != null" >
        drive_mile = #{record.driveMile,jdbcType=DECIMAL},
      </if>
      <if test="record.driveTime != null" >
        drive_time = #{record.driveTime,jdbcType=BIGINT},
      </if>
      <if test="record.facePrice != null" >
        face_price = #{record.facePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.cashPrice != null" >
        cash_price = #{record.cashPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.lineName != null" >
        line_name = #{record.lineName,jdbcType=VARCHAR},
      </if>
      <if test="record.linePrice != null" >
        line_price = #{record.linePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.benfitPrice != null" >
        benfit_price = #{record.benfitPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.shareFueFee != null" >
        share_fue_fee = #{record.shareFueFee,jdbcType=DECIMAL},
      </if>
      <if test="record.shareHighwayToll != null" >
        share_highway_toll = #{record.shareHighwayToll,jdbcType=DECIMAL},
      </if>
      <if test="record.passengerTip != null" >
        passenger_tip = #{record.passengerTip,jdbcType=DECIMAL},
      </if>
      <if test="record.shareOther != null" >
        share_other = #{record.shareOther,jdbcType=DECIMAL},
      </if>
      <if test="record.payState != null" >
        pay_state = #{record.payState,jdbcType=VARCHAR},
      </if>
      <if test="record.passengerNum != null" >
        passenger_num = #{record.passengerNum,jdbcType=INTEGER},
      </if>
      <if test="record.payTime != null" >
        pay_time = #{record.payTime,jdbcType=BIGINT},
      </if>
      <if test="record.orderMatchTime != null" >
        order_match_time = #{record.orderMatchTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update share_pay
    set id = #{record.id,jdbcType=INTEGER},
      company_id = #{record.companyId,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=INTEGER},
      route_id = #{record.routeId,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      driver_phone = #{record.driverPhone,jdbcType=VARCHAR},
      license_id = #{record.licenseId,jdbcType=VARCHAR},
      vehicle_no = #{record.vehicleNo,jdbcType=VARCHAR},
      fare_type = #{record.fareType,jdbcType=VARCHAR},
      book_depart_time = #{record.bookDepartTime,jdbcType=BIGINT},
      depart_time = #{record.departTime,jdbcType=BIGINT},
      departure = #{record.departure,jdbcType=VARCHAR},
      dep_longitude = #{record.depLongitude,jdbcType=DOUBLE},
      dep_latitude = #{record.depLatitude,jdbcType=DOUBLE},
      dest_time = #{record.destTime,jdbcType=BIGINT},
      destination = #{record.destination,jdbcType=VARCHAR},
      dest_longitude = #{record.destLongitude,jdbcType=DOUBLE},
      dest_latitude = #{record.destLatitude,jdbcType=DOUBLE},
      encrypt = #{record.encrypt,jdbcType=INTEGER},
      drive_mile = #{record.driveMile,jdbcType=DECIMAL},
      drive_time = #{record.driveTime,jdbcType=BIGINT},
      face_price = #{record.facePrice,jdbcType=DECIMAL},
      price = #{record.price,jdbcType=DECIMAL},
      cash_price = #{record.cashPrice,jdbcType=DECIMAL},
      line_name = #{record.lineName,jdbcType=VARCHAR},
      line_price = #{record.linePrice,jdbcType=DECIMAL},
      benfit_price = #{record.benfitPrice,jdbcType=DECIMAL},
      share_fue_fee = #{record.shareFueFee,jdbcType=DECIMAL},
      share_highway_toll = #{record.shareHighwayToll,jdbcType=DECIMAL},
      passenger_tip = #{record.passengerTip,jdbcType=DECIMAL},
      share_other = #{record.shareOther,jdbcType=DECIMAL},
      pay_state = #{record.payState,jdbcType=VARCHAR},
      passenger_num = #{record.passengerNum,jdbcType=INTEGER},
      pay_time = #{record.payTime,jdbcType=BIGINT},
      order_match_time = #{record.orderMatchTime,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangyueche.bean.entity.SharePay" >
    update share_pay
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=INTEGER},
      </if>
      <if test="routeId != null" >
        route_id = #{routeId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="driverPhone != null" >
        driver_phone = #{driverPhone,jdbcType=VARCHAR},
      </if>
      <if test="licenseId != null" >
        license_id = #{licenseId,jdbcType=VARCHAR},
      </if>
      <if test="vehicleNo != null" >
        vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
      </if>
      <if test="fareType != null" >
        fare_type = #{fareType,jdbcType=VARCHAR},
      </if>
      <if test="bookDepartTime != null" >
        book_depart_time = #{bookDepartTime,jdbcType=BIGINT},
      </if>
      <if test="departTime != null" >
        depart_time = #{departTime,jdbcType=BIGINT},
      </if>
      <if test="departure != null" >
        departure = #{departure,jdbcType=VARCHAR},
      </if>
      <if test="depLongitude != null" >
        dep_longitude = #{depLongitude,jdbcType=DOUBLE},
      </if>
      <if test="depLatitude != null" >
        dep_latitude = #{depLatitude,jdbcType=DOUBLE},
      </if>
      <if test="destTime != null" >
        dest_time = #{destTime,jdbcType=BIGINT},
      </if>
      <if test="destination != null" >
        destination = #{destination,jdbcType=VARCHAR},
      </if>
      <if test="destLongitude != null" >
        dest_longitude = #{destLongitude,jdbcType=DOUBLE},
      </if>
      <if test="destLatitude != null" >
        dest_latitude = #{destLatitude,jdbcType=DOUBLE},
      </if>
      <if test="encrypt != null" >
        encrypt = #{encrypt,jdbcType=INTEGER},
      </if>
      <if test="driveMile != null" >
        drive_mile = #{driveMile,jdbcType=DECIMAL},
      </if>
      <if test="driveTime != null" >
        drive_time = #{driveTime,jdbcType=BIGINT},
      </if>
      <if test="facePrice != null" >
        face_price = #{facePrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="cashPrice != null" >
        cash_price = #{cashPrice,jdbcType=DECIMAL},
      </if>
      <if test="lineName != null" >
        line_name = #{lineName,jdbcType=VARCHAR},
      </if>
      <if test="linePrice != null" >
        line_price = #{linePrice,jdbcType=DECIMAL},
      </if>
      <if test="benfitPrice != null" >
        benfit_price = #{benfitPrice,jdbcType=DECIMAL},
      </if>
      <if test="shareFueFee != null" >
        share_fue_fee = #{shareFueFee,jdbcType=DECIMAL},
      </if>
      <if test="shareHighwayToll != null" >
        share_highway_toll = #{shareHighwayToll,jdbcType=DECIMAL},
      </if>
      <if test="passengerTip != null" >
        passenger_tip = #{passengerTip,jdbcType=DECIMAL},
      </if>
      <if test="shareOther != null" >
        share_other = #{shareOther,jdbcType=DECIMAL},
      </if>
      <if test="payState != null" >
        pay_state = #{payState,jdbcType=VARCHAR},
      </if>
      <if test="passengerNum != null" >
        passenger_num = #{passengerNum,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=BIGINT},
      </if>
      <if test="orderMatchTime != null" >
        order_match_time = #{orderMatchTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangyueche.bean.entity.SharePay" >
    update share_pay
    set company_id = #{companyId,jdbcType=VARCHAR},
      address = #{address,jdbcType=INTEGER},
      route_id = #{routeId,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      driver_phone = #{driverPhone,jdbcType=VARCHAR},
      license_id = #{licenseId,jdbcType=VARCHAR},
      vehicle_no = #{vehicleNo,jdbcType=VARCHAR},
      fare_type = #{fareType,jdbcType=VARCHAR},
      book_depart_time = #{bookDepartTime,jdbcType=BIGINT},
      depart_time = #{departTime,jdbcType=BIGINT},
      departure = #{departure,jdbcType=VARCHAR},
      dep_longitude = #{depLongitude,jdbcType=DOUBLE},
      dep_latitude = #{depLatitude,jdbcType=DOUBLE},
      dest_time = #{destTime,jdbcType=BIGINT},
      destination = #{destination,jdbcType=VARCHAR},
      dest_longitude = #{destLongitude,jdbcType=DOUBLE},
      dest_latitude = #{destLatitude,jdbcType=DOUBLE},
      encrypt = #{encrypt,jdbcType=INTEGER},
      drive_mile = #{driveMile,jdbcType=DECIMAL},
      drive_time = #{driveTime,jdbcType=BIGINT},
      face_price = #{facePrice,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      cash_price = #{cashPrice,jdbcType=DECIMAL},
      line_name = #{lineName,jdbcType=VARCHAR},
      line_price = #{linePrice,jdbcType=DECIMAL},
      benfit_price = #{benfitPrice,jdbcType=DECIMAL},
      share_fue_fee = #{shareFueFee,jdbcType=DECIMAL},
      share_highway_toll = #{shareHighwayToll,jdbcType=DECIMAL},
      passenger_tip = #{passengerTip,jdbcType=DECIMAL},
      share_other = #{shareOther,jdbcType=DECIMAL},
      pay_state = #{payState,jdbcType=VARCHAR},
      passenger_num = #{passengerNum,jdbcType=INTEGER},
      pay_time = #{payTime,jdbcType=BIGINT},
      order_match_time = #{orderMatchTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>