<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangyueche.mybatis.VehicleBeyondOperateStatMapper">
    <select id="listStat" resultType="com.wangyueche.bean.vo.statistics.VehicleBeyondOperateStat">
        SELECT company_id AS companyId,COUNT(*) AS vehicleAmount
        FROM operate_depart_arrive
        WHERE begin_beyond_operate=1 OR end_beyond_operate=1
        <if test="companyId!=null and companyId!=''">
            AND company_id=#{companyId}
        </if>
        <if test="startDate!=null and endDate!=null">
            AND order_match_time BETWEEN #{startDate} AND #{endDate}
        </if>
        GROUP BY company_id;
    </select>
</mapper>