<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangyueche.mybatis.VehicleOrderTakingMapper">
    <select id="listByOrderAmount" resultType="com.wangyueche.bean.vo.statistics.VehicleOrderTaking">
        SELECT company_id AS companyId,count(*) AS vehicleAmount
        FROM
        (SELECT company_id,vehicle_no,count(*) AS amount
        FROM operate_depart_arrive
        <if test="startDate!=null and endDate!=null">
            WHERE order_match_time BETWEEN #{startDate} AND #{endDate}
        </if>
        GROUP BY company_id, vehicle_no
        HAVING amount BETWEEN #{min} AND #{max}) d
        <if test="companyId!=null and companyId!=''">
            WHERE company_id = #{companyId,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>